<div class="author">

    <h1 class="author__heading">Hi , I am 0x</h1>
    <p class="author__body">Backend Developer and Digital fashion designer</p>
</div>

<img src="/img/hero-image.webp" alt="image of a guy sitting and facing a window" class="hero-image" width="981px" height="528px">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
